<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725712245576-o86s9kvauctr0nm9kl85947te33gflru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725712245576-o86s9kvauctr0nm9kl85947te33gflru</string>
	<key>API_KEY</key>
	<string>AIzaSyCdFmaf5MZsCdEcETYXDahy8OvvkBzqmh0</string>
	<key>GCM_SENDER_ID</key>
	<string>725712245576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soupkitchencoding.smartTip</string>
	<key>PROJECT_ID</key>
	<string>smart-tips-eca81</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-tips-eca81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725712245576:ios:e2e63c33c2e1da63</string>
	<key>DATABASE_URL</key>
	<string>https://smart-tips-eca81.firebaseio.com</string>
</dict>
</plist>